<div class="flex flex-wrap -mx-2">
  <div class="w-full px-2">
    <div class="flex items-center justify-between w-full">
      <h1 class="font-extrabold text-gray-800 text-lg">CR-UD</h1>
      <button
        class="bg-blue-500 hover:bg-blue-700 duration-300 transition-all ease-in-out rounded-lg text-white font-extralight p-2 px-5 text-sm"
      >
        New Task
      </button>
    </div>
  </div>

  <div *ngIf="error" class="text-red-500">{{ error }}</div>
  <div
    *ngFor="let post of displayedPosts"
    class="w-full border border-gray-500 p-3 mt-6 rounded-xl"
  >
    <div class="px-4">
      <div class="flex justify-between items-center">
        <h2 class="font-bold text-gray-700 text-lg">{{ post.title }}</h2>
        <div class="flex items-center">
          <button
            class="bg-gray-100 rounded-lg text-sm text-white font-extralight p-2 px-4 mr-2 hover:bg-gray-300 transition-all ease-out duration-300"
            [routerLink]="['/post-details', post.id]"
          >
            <img
              src="../../../assets/icons/view.svg"
              alt="View Items"
              class="w-4 h-4 text-gray-500"
            />
          </button>
          <button
            class="bg-gray-200 rounded-lg text-sm text-white font-extralight p-2 px-4 hover:bg-gray-300 duration-300 transition-all ease-in-out"
          >
            <img
              src="../../../assets/icons/edit.svg"
              alt="Edit Items"
              class="w-4 h-4"
            />
          </button>
          <button
            class="bg-gray-200 rounded-lg text-sm text-white font-extralight p-2 px-4 ml-2 hover:bg-gray-300 transition-all ease-out duration-300"
          >
            <img
              src="../../../assets/icons/icon-delete.svg"
              alt="Delete Items"
              class="w-4 h-4"
            />
          </button>
        </div>
      </div>
      <p class="text-gray-600 mt-4">{{ post.body }}</p>
    </div>
  </div>

  <!-- Angular Material Paginator -->
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
    class="mt-5 rounded-xl"
  >
  </mat-paginator>
</div>
