<div class="flex flex-wrap -mx-2">
  <div class="w-full px-2">
    <div class="flex items-center justify-between w-full">
      <h1 class="font-extrabold text-gray-800 text-lg">CR-UD</h1>
      <button
        class="bg-blue-500 hover:bg-blue-700 duration-300 transition-all ease-in-out rounded-lg text-white font-extralight p-2 px-5 text-sm"
        (click)="openModal()"
      >
        New Task
      </button>
    </div>
  </div>

  <div *ngIf="error" class="text-red-500">{{ error }}</div>
  <div
    *ngFor="let post of displayedPosts"
    class="w-full border border-gray-500 p-3 mt-6 rounded-xl"
  >
    <div class="px-4">
      <div class="flex justify-between items-center">
        <h2 class="font-bold text-gray-700 text-lg">{{ post.title }}</h2>
        <div class="flex items-center">
          <button
            class="bg-gray-100 rounded-lg text-sm text-white font-extralight p-2 px-4 mr-2 hover:bg-gray-300 transition-all ease-out duration-300"
            [routerLink]="['/post-details', post.id]"
          >
            <img
              src="../../../assets/icons/view.svg"
              alt="View Items"
              class="w-4 h-4 text-gray-500"
            />
          </button>
          <button
            class="bg-gray-200 rounded-lg text-sm text-white font-extralight p-2 px-4 hover:bg-gray-300 duration-300 transition-all ease-in-out"
          >
            <img
              src="../../../assets/icons/edit.svg"
              alt="Edit Items"
              class="w-4 h-4"
            />
          </button>
          <button
            class="bg-gray-200 rounded-lg text-sm text-white font-extralight p-2 px-4 ml-2 hover:bg-gray-300 transition-all ease-out duration-300"
            (click)="openConfirmDeleteModal(post)"
          >
            <img
              src="../../../assets/icons/icon-delete.svg"
              alt="Delete Items"
              class="w-4 h-4"
            />
          </button>
        </div>
      </div>
      <p class="text-gray-600 mt-4">{{ post.body }}</p>
    </div>
  </div>

  <!-- Angular Material Paginator -->
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
    class="mt-5 rounded-xl"
  >
  </mat-paginator>

  <div *ngIf="isModalOpen" class="modal-overlay">
    <app-post-creat (closeModal)="closeModal()"></app-post-creat>
  </div>
</div>

<!-- Modal of Confirm Delete -->
<div *ngIf="isConfirmDeleteModalOpen" class="modal-overlay">
  <div class="modal-content p-4 bg-white rounded-lg shadow-lg">
    <h2 class="font-extrabold text-lg mb-4">Confirm Delete</h2>
    <p class="mb-4">
      Are you sure you want to delete the task "
      <span class="font-extrabold text-black">{{ postToDelete?.title }}</span
      >"?
    </p>
    <div class="flex justify-end space-x-4">
      <button
        type="button"
        class="px-4 py-2 bg-gray-300 rounded text-sm"
        (click)="closeConfirmDeleteModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="px-4 py-2 bg-red-500 text-white rounded text-sm hover:bg-red-700 duration-300 transition-all ease-in-out"
        (click)="deletePost()"
      >
        Delete
      </button>
    </div>
  </div>
</div>
